// navbar//
.navbar
    background-color : white !important
    padding: 5vh
    font-family: 'Nova square',cursive

.child1-navbar
    width: 75vw
    display: flex
.navbar-nav
    width: 48vw
    display: flex
    justify-content: space-between
    font-weight: bolder
.boutton-navbar
    color : white
    background-color: red
    border: none
    border-radius: 20px
    width: 6vw
.navbar-brand
    font-size: 3vh


@media ( max-width: 426px )
// navbar//
    .navbar
        display: flex !important 
    .boutton-navbar
        width : 25%


