// navbar//
.body
    overflow-x: hidden
.navbar
    background-color : white !important
    padding: 5vh
    font-family: 'Nova square',cursive

.child1-navbar
    width: 75vw
    display: flex
.navbar-nav
    width: 48vw
    display: flex
    justify-content: space-between
    font-weight: bolder
.boutton-navbar
    color : white
    background-color: #ce1212
    border: none
    border-radius: 20px
    width: 6vw
.navbar-brand
    font-size: 3vh
// hero section //
.hero-section
    background-color: #eeeeee
    height: 70vh
    display: flex
    justify-content: center
    gap: 7vw
    align-items: center
    font-family: 'Nova square',cursive

    img
        height: 60vh
    h1
        width: 30vw
    p
        width: 35vw
    .hero-section-button
        color : white
        background-color: #ce1212
        border: none
        border-radius: 20px
        width: 7vw
        padding: 1vh
    .button-watch-video
        border: none
// about us//
.section-about-us
    height: 70vh
.first-child
    font-family: 'Nova square',cursive
    text-align: center
    padding: 3vh
    p
        color: gray
        font-size: 1.5vw
    h2
        span
            color: #ce1212
.section-about-us
    height: 120vh
    .section-about-us-child2
        height: 80vh
        display: flex
        justify-content: center
        gap: 3vw
        .about-us-child2-left
            font-family: 'Nova square',cursive
            position: relative
        .child2-book-table
            background-color: white
            height: 10vh
            width: 20vw
            text-align: center
            position: absolute
            bottom: 0
            margin-left: 5vw

            span
                color: #ce1212
    .about-us-child2-right
        height: 110vh
        width: 35vw
        font-family: 'Nova square',cursive
        overflow-x: hidden
        p
            width: 35vw
        img
            
            height: 42vh
            width: 50vw
    .child2-right
        height: 40vh
// cards
.section-cards
    background-color: #eeeeee
    height: vh
    font-family: 'Nova square',cursive
    

.child1-cards
    background-color: #ce1212
    width: 20vw !important
    height: 45vh
    padding: 3vh !important
    p
        font-size: small
        color: white
    button
        border: none
        border-radius: 20px
        background-color:  #eeeeee5e
        color: white
        width: 10vw
        text-align: center
        padding: 1vh
.cards
    height: 60vh
    padding: 3vh
    width: 90%
.child2-cards
    background-color: white
    width: 17vw
    height: 37vh
    text-align: center
    gap: 2vh
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    i
        text-align: center
        color:#ce1212
.white_cards
    height: 45vh
    justify-content: center
    align-items: center

.icon
    border: none
    background-color:  #ce121283
    width: 3vw
    height: 5vh
    border-radius: 50%













@media ( max-width: 426px )
    .navbar
        display: flex !important 
    .boutton-navbar
        width : 25vw !important
    .hero-section
        display: flex
        flex-direction: column-reverse
        height: 120vh !important
    .hero-section-left
        width: 100% !important
        display: flex
        flex-direction: column
        align-items: center
        gap: 3vh
        h1
            width: 80vw !important
            font-size: smaller
            font-weight: bolder
            font-size: 5vh
            text-align: center
        p 
            width: 100% !important
            text-align: center
            padding: 1vh
    .hero-section-buttons
        display: flex
        button
            width: 35vw !important
            .icon-vid
                color: #ce1212
    .first-child
        padding: 2vh
        p
            font-size: 4vw
    .section-about-us
        height: 150vh !important
        display: flex
        flex-direction: column  !important
    .section-about-us-child2
        display: flex
        flex-direction: column
        height: 200vh !important
    .about-us-child2-left
        img
            width: 100vw !important
            margin-left: 0 !important
            height: 50vh
    .about-us-child2-right
        .child2-right
            height: 40vh !important
        p
            width: 100vw !important
        img
            width: 100vw !important
            height: 50vh !important
    .child2-book-table
        width: 45vw !important
        bottom: 15vh !important
    .about-us-child2-right
        width: 100% !important
        height: 200vh !important
    .section-cards
        height: vh !important
        padding: 5vh !important
    .cards
        display: flex
        flex-direction: column
        height: 200vh !important
    .white_cards
        display: flex
        height: 100vh !important
        margin-left: 5vw 
        flex-direction: column
    .child2-cards
        width: 100vw !important
    .child1-cards 
        width: 100vw !important
        margin-left: 3vw 
        button
            width: 30vw !important
    .icon
        width: 10vw !important
        height: 10vh !important

        



